<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050887318258-0hn3si518cc9ufmbentkpkeifbnod3kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050887318258-0hn3si518cc9ufmbentkpkeifbnod3kb</string>
	<key>API_KEY</key>
	<string>AIzaSyAhnnG-nGEKeUcDVg6co7WlJJfLQoQoh4k</string>
	<key>GCM_SENDER_ID</key>
	<string>1050887318258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umuterturk.TatliSozluk</string>
	<key>PROJECT_ID</key>
	<string>tatlisozluk-92f0c</string>
	<key>STORAGE_BUCKET</key>
	<string>tatlisozluk-92f0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050887318258:ios:8d7bbc0f8bf4755708fe6b</string>
</dict>
</plist>